body {
    margin: 0 auto;
    font-family: "Lato", sans-serif;
}
.menu {
    max-width: 1080px;
    margin: 0 auto;
    a {
        color: #fff;
        text-decoration: none;
        &:hover {
            opacity: 0.8;
        }
    }
}
.searchbar {
    max-width: 300px;
    margin: 0 auto;
    input {
        float: left;
        width: 100%;
        padding: 8px 10px;
        box-sizing: border-box;
        border: solid 1px #9e9e9e;
        font-size: 14px;
    }

    .sort {
        color: #fff;
        font-size: 12px;
        display: inline-block;
        padding: 10px 0;
        > span {
            color: #fff;
            cursor: pointer;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}
table {
    td {
        text-align: center;
    }
}
.details {
    > div {
        margin-bottom: 10px;
        border-bottom: solid 1px #eaeaea;
        padding-bottom: 15px;
        &:last-child {
            border: none;
        }
        > span {
            text-transform: capitalize;
        }
    }
}
header {
    background: #151515;
    text-align: center;
    padding: 20px 0 20px 0;
    &.fixed {
        position: fixed;
        top: 0;
        width: 100%;
    }
    h1 {
        padding: 0;
        margin: 0;
        color: #fff;
        font-weight: 100;
        letter-spacing: 0.5px;
        text-rendering: optimizeLegibility;
    }
}

footer {
    background: #151515;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    span {
        color: #d3d3d3;
        font-size: 12px;
        letter-spacing: 0.25px;
    }
}
.residents {
    ul {
        margin: 0px;
        padding: 0px 18px;
    }
}

.container {
    max-width: 500px;
    margin: 20px auto;
}

.mainContainer {
    flex-wrap: wrap;
    margin: 20px auto;
    padding: 15px 0px;
    width: 500px;

    box-sizing: border-box;
    li {
        list-style: none;
        border: solid 1px #141414;
        padding: 20px 15px;
        margin-bottom: 20px;
        background: #141414;

        a {
            color: #cecece;
            text-decoration: none;
            span {
                padding: 0px 10px;
                display: inline-block;
            }
        }
    }
    & > a {
        max-width: 210px;
        flex: 1 0 21%;
        height: 109px;
        overflow: hidden;
        margin: 5px;
        transition: all 0.3s ease;
        &:hover {
            -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
        }
        img {
            width: 100%;
        }
    }
}

.spinner {
    top: 0;
    background: #eaeaeab3;
    height: 100%;
    position: fixed;
    left: auto;

    right: auto;
    bottom: 0;
    width: 100%;
    > div {
        position: relative;
        margin: 0 auto;
        top: 40%;
    }
}

.hide {
    display: none !important;
}

/* css spinner */
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: #000;
    font-size: 10px;
    margin: 0px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    top: 0;
}
.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@media only screen and (min-width: 300px) and (max-width: 812px) {
    .container {
        padding: 0 20px;
    }
    .searchbar {
        input {
            width: 100%;
        }
    }
    .mainContainer {
        width: 100%;
        margin-top: 10px;
        padding: 0 10px;
        > a {
            height: 210px;
            overflow: hidden;
            width: 100%;
            box-sizing: border-box;
            flex: none;
            max-width: 100%;
            padding: 0;
            margin: 0 0 10px 0;
        }
    }
}
